<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fishing.mapper.FishVenueMapper">

    <resultMap type="com.ruoyi.fishing.domain.FishVenue" id="FishVenueResult">
        <id     property="venueId"     column="venue_id"/>
        <result property="name"        column="name"/>
        <result property="address"     column="address"/>
        <result property="latitude"    column="latitude"/>
        <result property="longitude"   column="longitude"/>
        <result property="notice"      column="notice"/>
        <result property="phone"       column="phone"/>
        <result property="ruleId"      column="rule_id"/>
        <result property="fishPriceCents"       column="fish_price_cents"/>
        <result property="fishMemberPriceCents" column="fish_member_price_cents"/>
        <result property="status"      column="status"/>
        <result property="delFlag"     column="del_flag"/>
        <result property="createBy"    column="create_by"/>
        <result property="createTime"  column="create_time"/>
        <result property="updateBy"    column="update_by"/>
        <result property="updateTime"  column="update_time"/>
        <result property="remark"      column="remark"/>
    </resultMap>

    <sql id="selectFishVenueVo">
        select venue_id, name, address, latitude, longitude, notice, phone, rule_id,
               fish_price_cents, fish_member_price_cents, status, del_flag,
               create_by, create_time, update_by, update_time, remark
        from fish_venue
    </sql>

    <select id="selectFishVenueList" parameterType="com.ruoyi.fishing.domain.FishVenue" resultMap="FishVenueResult">
        <include refid="selectFishVenueVo"/>
        <where>
            del_flag = '0'
            <if test="name != null and name != ''">AND name like concat('%', #{name}, '%')</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
            <if test="phone != null and phone != ''">AND phone like concat('%', #{phone}, '%')</if>
        </where>
        order by venue_id desc
    </select>

    <select id="selectFishVenueByVenueId" parameterType="Long" resultMap="FishVenueResult">
        <include refid="selectFishVenueVo"/>
        where venue_id = #{venueId} and del_flag = '0'
    </select>

    <insert id="insertFishVenue" parameterType="com.ruoyi.fishing.domain.FishVenue" useGeneratedKeys="true" keyProperty="venueId">
        insert into fish_venue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="address != null">address,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="notice != null">notice,</if>
            <if test="phone != null">phone,</if>
            <if test="ruleId != null">rule_id,</if>
            <if test="fishPriceCents != null">fish_price_cents,</if>
            <if test="fishMemberPriceCents != null">fish_member_price_cents,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="address != null">#{address},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="notice != null">#{notice},</if>
            <if test="phone != null">#{phone},</if>
            <if test="ruleId != null">#{ruleId},</if>
            <if test="fishPriceCents != null">#{fishPriceCents},</if>
            <if test="fishMemberPriceCents != null">#{fishMemberPriceCents},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateFishVenue" parameterType="com.ruoyi.fishing.domain.FishVenue">
        update fish_venue
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            latitude = #{latitude},
            longitude = #{longitude},
            <if test="notice != null">notice = #{notice},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="fishPriceCents != null">fish_price_cents = #{fishPriceCents},</if>
            <if test="fishMemberPriceCents != null">fish_member_price_cents = #{fishMemberPriceCents},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where venue_id = #{venueId}
    </update>

    <update id="deleteFishVenueByVenueId" parameterType="Long">
        update fish_venue set del_flag = '2' where venue_id = #{venueId}
    </update>

    <update id="deleteFishVenueByVenueIds" parameterType="Long">
        update fish_venue set del_flag = '2' where venue_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

</mapper>
